{% extends 'main.html' %}
{% load static%}
{% block content %}
<head>
    <style>
        form{
            border:1px solid black;
            margin:auto;
            border-radius: 4px;
            padding: 40px;
        }
    </style>
</head>

<form action="" method="POST">
    <div class="col-12">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                {% for each in messages %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <strong>{{each}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="btn btn-success" value="submit">
</form>
{% endblock %}